<template>
  <div>
    <todo-list />
    <hr />
    <todo-not-done-list />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  components: {
    TodoList: () => import('./../components/TodoList.vue'),
    TodoNotDoneList: () => import('./../components/TodoNotDoneList.vue')
  },
  mounted () {
    this.fetchApi()
  },
  methods: {
    ...mapActions({
      fetchApi: 'todo/fetchApi'
    })
  }
}
</script>
